
###> symfony/framework-bundle ###
.env.local
.env.*.local

/.env.local
/.env.local.php
/.env.*.local
.env.production
/.env.production

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
var/
/var/
/vendor/
###< symfony/framework-bundle ###


note.txt
/note.txt


notes_1.txt
/notes_1.txt


plan_dev.txt
/plan_dev.txt

note-api.txt
/note-api.txt

infos.txt
/infos.txt

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
note.-api.txt

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
